<div class="users-container">
    <div class="user-recent-post">
        <div class="post-inf-box">
            <h2 class="user-post-title">Post: #<%= @post.title %> by <%= @post.author.name %></h2>
            <h3>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter %><h3>
        </div>
        <p class="user-post-text"><%= @post.text %></p>

        </div>
        <div class="comment-box">
            <% @comments.each do |comment|%>
                <h3 class="comments"><%= comment.author.name %>:  <%= comment.text %></h3>
                <% if can? :detroy, comment %>
                    <%= button_to 'Delete comment', delete_user_post_comment_path(current_user, @post, comment), class: "btn_delete_comment", method: :delete %>
                <% end %>
            <% end %>
        </div>
  </div>
</div>
